<html lang="en">
	<head>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
		<title>Bot Ranks</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160195151-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-160195151-1');
        </script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
        <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">

{#        <script data-ad-client="ca-pub-6473000979656682" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
        <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand abs" href="#">BotRanks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <ul class="navbar-nav nav nav-pills mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Ranks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="statsTab" href="#stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="aboutTab" href="#about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Duration
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-value="1d">Day</a>
                        <a class="dropdown-item" href="#" data-value="1w">Week</a>
                        <a class="dropdown-item" href="#" data-value="1M">Month</a>
                        <a class="dropdown-item active" href="#" data-value="1y">Year</a>
                    </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <div id="grid-loader" class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active show">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div id="ranksGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stats" class="tab-pane fade in">
                <div class="container">
                    <div class="row">
                        <div class="col-md" id="votesContainer">
                            <canvas id="votes"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md" id="pieContainer">
                            <canvas id="votesPie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about" class="tab-pane fade in">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div id="README"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container text-center">
                <p class="m-0"><small>Powered by <a href="https://pushshift.io/">Pushshift</a>.</small></p>
                <p class="m-0"><small>© Brandawg93. All Rights Reserved.</small></p>
            </div>
        </footer>
        <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
            <span class="fa fa-chevron-up" style="padding-top: 3px;"></span>
        </a>
	</body>
</html>