<html lang="en">
	<head>
		<title>Bot Ranks</title>
        <link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="{{ url_for('static', filename='css/main.css')}}">
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
		 </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		 <script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
		<h1>Botranks</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <canvas id="votes" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
	</body>
</html>